// Overwrite bootstrap variables + custom variables

$font-family-base: 'Source Sans Pro', sans-serif;
$font-weight-base: 900;

$primary: #7ADBD4;
$secondary: #221F1F;
$link-color: $primary;
$link-hover-color: $secondary;